output/*
CMakeFiles/*
.DS_Store*
.cproject
.project
.settings/*
Makefile
cmake_install.cmake
CMakeLists.txt
CMakeCache.txt
src/ceres
cmake_install.cmake
initial_mesh.eps
local/*
Debug/*
        RunList_105.txt
        RunList_106.txt
        RunList_107.txt
        RunList_108.txt
        RunList_109.txt
        RunList_110.txt
        RunList_111.txt
        RunList_112.txt
        RunList_113.txt
        RunList_114.txt
        RunList_115.txt
        RunList_116.txt
        RunList_117.txt
        RunList_118.txt
        RunList_119.txt
        RunList_120.txt
        RunList_121.txt
        RunList_122.txt
        RunList_123.txt
        RunList_124.txt
        RunList_125.txt
        RunList_round.txt
        config/ConfigurationV2_1800.cfg
        config/ConfigurationV2_1950.cfg
        config/ConfigurationV2_deg2_only.cfg
        config/ConfigurationV2_deg2_only_1.cfg
        config/ConfigurationV2_round.cfg
        config/run104/
        config/run105/
        config/run106/
        config/run107/
        config/run109/
        config/run110/
        config/run111/
        config/run112/
        config/run113/
        config/run114/
        config/run115/
        config/run116/
        config/run117/
        config/run118/
        config/run119/
        config/run120/
        config/run121/
        config/run122/
        config/run123/
        config/run124/
        config/run125/
        gravity_field.txt
        matlab_src/LEGENDRE/LSSM-6-181.mat
        matlab_src/LEGENDRE/LSSM-60-1801.mat
        meshes/run100_spherical/
        meshes/run104_117km/
        meshes/run108_232km/
        meshes/run112_173km/
        meshes/run113_89km/
        meshes/run114_60km/
        meshes/run115_117km/
        meshes/run116_232km/
        meshes/run117_72km/
        meshes/run119_117km_SPG/
        meshes/run33-40_117km_lid/
        meshes/run68_coarser_shell/
        meshes/run78_60km_lid/
        meshes/run82_232km_lid/
        meshes/scratch/